# Sets, Collections, & Exception Handling 

## Sets

* create a new empty set
* print that set

In [46]:
j = {}
j

{}

* create a non empty set
* print that set

In [55]:
n = {0, 1, 2, 3, 4}
n

{0, 1, 2, 3, 4}

* iterate over the set and print results

In [56]:
for i in n:
    print(i)

0
1
2
3
4

* add one item to the set

In [57]:
n.add(8)
n

{0, 1, 2, 3, 4, 8}

* add multiple items to the set

In [58]:
k = (10,5,8)

for i in k:
    n.add(i)
n

{0, 1, 2, 3, 4, 5, 8, 10}

* remove an item from a set if it is present in the set

In [59]:
n.remove(1)
n

{0, 2, 3, 4, 5, 8, 10}

* find maximum and minimum values of the set

In [60]:
print(max(n))
print(min(n))

10
0

* print the length of the set

In [61]:
len(n)

7

* create an intersection of x and y

In [65]:
x = {2,4,7,6,100}
y = {2,6,12,8,100}

x.intersection(y)

{2, 6, 100}

* create an union of x and y

In [66]:
x.union(y)

{2, 4, 6, 7, 8, 12, 100}

* create difference between x and y

In [67]:
x.difference(y)

{4, 7}

---------------
## Collections

* for each word in a sentence count the occurence
* **sentence:** *black cat jumped over white cat*

In [17]:
sentence = "black cat jumped over white cat"

def wordcount(string):
    wordDic = {}
    words = string.split()
    
    for i in words:
        if i in wordDic:
            wordDic[i] +=1
        else:
            wordDic[i] =1 
        
    return(wordDic)
        
wordcount(sentence)

{'black': 1, 'cat': 2, 'jumped': 1, 'over': 1, 'white': 1}

* print the most common words

In [33]:
from collections import Counter

def wordcounter(strg):
    return Counter(strg.split()).most_common(2)

wordcounter(sentence)

[('cat', 2), ('black', 1)]

* count the occurences of words in the same sentence but now use **defaultdict**

In [ ]:
from collections import defaultdict

def defaultcount(x):

* create deque from list set used in first exercise

In [43]:
from collections import deque

list = ["a","b","c"]
deq = deque(list)
print(deq)

deque(['a', 'b', 'c'])

* append number 10 to deque

In [44]:
deq.append('10')
deq

deque(['a', 'b', 'c', '10'])

* remove element from the right end from deque

In [45]:
deq.pop()
deq

deque(['a', 'b', 'c'])

* remove element from the left end from deque

In [46]:
deq.popleft()
deq

deque(['b', 'c'])

* delete all elements from deque

In [47]:
deq.clear()
deq

deque([])

* create named tuple (people) with name and surname as position names

In [48]:
from collections import namedtuple

Student = namedtuple('Student', 'fname, lname, age')

* print name and surname

In [52]:
s1 = Student('John', 'Clarke', '13')
print(s1.fname + " " + s1.lname)

John Clarke

_________________
## Exception handling
Now, let's practice with **errors and exception handling**

* Transform all string elements from a list to upper, if the element is not a string don't transform it.
* Use a try & except block without using the 'if' statement.

In [60]:
def stringupper(list):
    new_list = []
    
    for i in list:
        try:
            type(i) == str
            new_list.append(i.upper())
        except:
            pass
        
    return(new_list)

In [64]:
stringupper(["a","b",1])

['A', 'B']

### We have created a function below:

Luke Skywalker has family and friends. Help him remind himself the type of relation he has with his family and friends. 

Given a string with a name, return the relation of that person to Luke.

**Person --> Relation**
- Darth Vader --> father
- Leia --> sister
- Han --> brother in law
- R2D2 --> droid

#### Examples

> relation_to_luke("Darth Vader") ➞ "Luke, I am your father."
>
> relation_to_luke("Leia") ➞ "Luke, I am your sister."
>
> relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [103]:
def relation_to_luke(text):
    names = {}
    names["Darth Vader"] = "father"
    names["Leia"] = "sister"
    names["Han"] = "brother in law"
    names["R2D2"] = "droid"
    try:
        names[text]
    except:
        print(text, "is not in the relation with Luke")
    else:
        print("Luke, I am your " + names[text])

#### Task I
Fix errors in the function above so we can run following code

In [104]:
relation_to_luke("Darth Vader")
relation_to_luke("Leia")
relation_to_luke("Han")
relation_to_luke("R2D2")

Luke, I am your father
Luke, I am your sister
Luke, I am your brother in law
Luke, I am your droid

#### Task II
Use exception handling so we can run the function with any string. In this case, the function will return following:

**relation_to_luke("aaaa") ➞ "aaaa is not in the relation with Luke"**

**Note:** Do **Not** use an **if** statement for this

In [105]:
relation_to_luke("aaaa")

aaaa is not in the relation with Luke