In [6]:
def equal_slices(total_slices, no_recipients, slices_each): 
    return (slices_each * no_recipients) <= total_slices

equal_slices(24, 12, 2)

True

In [34]:
def equal_slices(total_slices, no_recipients, slices_each):
    num_slices = slices_each * no_recipients
    remainder = max(0, total_slices - (slices_each * no_recipients))
    
    if no_recipients == 0:
        return True, total_slices
    
    elif ((slices_each * no_recipients) <= total_slices) == False:
        return (slices_each * no_recipients) <= total_slices, None
    
    else:
        return (slices_each * no_recipients) <= total_slices, remainder
    
    
equal_slices(11, 5, 2)

(True, 1)

In [51]:
def count_unique_chars(string_1, string_2):
    strings = string_1 + string_2
    return len(set(strings)) 
    
count_unique_chars("a", "soup")

5

In [55]:
def reverse_capitalize(string):
    return string.upper()[::-1]

reverse_capitalize("abc")

'CBA'

In [69]:
def divisible(integer):
    return True if integer % 100 == 0 else False

divisible(500)

True

In [8]:
def filter_list(lst):
    new_list = []
    for i in lst:
        if isinstance(i, int) == True:
            new_list.append(i)
    return new_list
    
filter_list([1, 2, 3, "a", "b", 4]) 
filter_list(['A', 0, 'Edabit', 1729, 'Python', '1729'])

[0, 1729]

In [14]:
def mean(digits):
    counter = 0
    total = 0
    for i in str(digits):
        counter += 1
        total += int(i)
    return total / counter
    
mean(42)

3.0

In [17]:
def count_all(string):
    Lcount = 0
    Dcount = 0
    dic = {}
    
    for i in string:
        if i.isdigit():
            Dcount+=1
        elif i.isalpha():
            Lcount+=1
            
    dic['LETTERS'] = Lcount
    dic['DIGITS'] = Dcount
    
    return dic
    
count_all("H3ll0 Wor1d")

{'LETTERS': 7, 'DIGITS': 3}

In [11]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Andres','James','David','Vin','Steve','David','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)


df

      Name  Age  Rating
0   Andres   25    4.23
1    James   26    3.24
2    David   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    David   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

In [18]:
"""
Write a function that takes df (defined above) as input and returns tuple with 3 values:
   - Most common name (string)
   - Average age (float)
   - IQR of rating (float)

Notes:
   - Average age and IQR must be float not numpy.float64 type
"""


def compute_statistics(df):
    Q3 = np.quantile(df['Rating'], 0.75)
    Q1 = np.quantile(df['Rating'], 0.25)
    IQR = Q3 - Q1
    avg = df['Age'].mean()
    comname = df['Name'].value_counts().idxmax()
    return comname, avg, float(IQR)
    
compute_statistics(df)

('David', 31.833333333333332, 0.9024999999999999)

In [20]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [ ]:
"""
Write a function that takes dataframe df (defined above) and string with animal as inputs and returns rows where animal is equal to string (parameter function) and age is less than 3.

Notes:
        - Return empty DataFrame if wrong animal is written
"""

def filter_animals(df,animal):

In [23]:

"""
Write a function that takes dataframe df (defined above) as input and returns filtered dataframe with:
        - Only numeric columns
        - Only rows without any missing values

Notes:
        - Donâ€™t select the columns and rows manually (use filtering)
"""

def filter_dataframe(df):
    return df.select_dtypes(include='number').dropna()
    
filter_dataframe(df)

   age  visits
a  2.5       1
b  3.0       3
c  0.5       2
e  5.0       2
f  2.0       3
g  4.5       1
i  7.0       2
j  3.0       1